'editor':
  'fontSize': 14
  'fontFamily': 'Menlo'
  'preferredLineLength': 100
  'showInvisibles': true
  'showIndentGuide': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'disabledPackages': [
    'autocomplete'
  ]
  'useReactEditor': true
'exception-reporting':
  'userId': 'a26bd123-9c44-e41b-5cfa-0194d7071c58'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '04afa7c669423e4f94d2a39fba25a169d71aa65a'
